@font-face {
  font-family: myFont;
  src: url("font.ttf");
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  height:100vh;
  background: url("black space.png") center / cover no-repeat;
  font-family: myFont, sans-serif;
  overflow:hidden;
  display:flex;
  justify-content:center;
  align-items:center;
}

.layout{
  position:relative;
  width:1200px;
  height:900px;
  right: 40px;
}

img{
  display:block;
}

.console,
.character,
.speech-bubble{
  position:absolute;
}

/* ✨ الشخصية */
.character{
  width:1000px;
  left:700px;
  top:140px;
  z-index:1;
  animation: floatChar 4s ease-in-out infinite;
}

/* ✨ البوبل فوق الشخصية */
.speech-bubble{
  max-width:320px;
  background:rgb(239, 245, 255);
  color:#ff48ad;
  font-size:35px;
  line-height:1.4;
  padding:25px;
  border-radius:30px;
  z-index:10;

  /* 🔥 هذا المهم */
  top:10px;
  left:760px;

  box-shadow:0 10px 25px rgba(0,0,0,0.25);
  animation: floatBubble 2.5s ease-in-out infinite;
}

.speech-bubble::after{
  content:"";
  position:absolute;
  bottom:-18px;
  right:180px;

  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-top:20px solid rgb(239, 245, 255);
}

.cursor{
  display:inline-block;
  animation: blink 0.8s infinite;
}

@keyframes floatChar{
  0%,100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-12px);
  }
}

@keyframes floatBubble{
  0%,100%{
    transform:translateY(0);
  }
  50%{
    transform:translateY(-8px);
  }
}

@keyframes blink{
  0%,49%{ opacity:1; }
  50%,100%{ opacity:0; }
}